server:
  port: 8887

#配置GitHub
github:
  client:
    id: 4cf67bd035e261fed7cb
    secret: 94b1e6ebcc1076b0ef8f7f43c2f6f6c35f23a007
  redirect:
    uri: http://localhost:8887/callback

#配置H2数据库
spring:
  datasource:
    url: jdbc:h2:file:D:/H2/community
    username: sa
    password: 123
    driver-class-name: org.h2.Driver

#配置下划线和驼峰模式的转换
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.wp.community.model
  mapper-locations: classpath:mapper/*.xml